:root {
  --debug-outline: 0px;
  --foreground-colour: rgb(255, 255, 255);
  --background-colour: rgb(48, 48, 48);
  --scrollbar-colour: rgb(84, 93, 103) transparent;
  --font-family: monospace, sans-serif;
  --font-size: 16px;
  --font-weight: 400;
  --pcm: 0.6;
  --pch: calc(150px * (var(--pcm)));
  --pcw: calc(108px * (var(--pcm)));
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow: auto;
  box-sizing: border-box;
  background-color: var(--background-colour);
  color: var(--foreground-colour);
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  scrollbar-color: var(--scrollbar-colour);
  box-shadow: inset 0 0 0 var(--debug-outline) var(--foreground-colour);
}

#page {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
}

playing-card {
  user-select: none;
  display: inline-block;
  width: var(--pcw);
  height: var(--pch);
  box-sizing: border-box;
}

.band {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.piles {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4px;
}

.pile {
  width: auto;
  height: var(--pch);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#computer-hand-band {
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(-50%);
  background-color: transparent;
}

#computer-hand-band > .hand {
  background-color: transparent;
}

#computer-piles-band {
  background-color: transparent;
}

#player-hand-band {
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateY(50%);
  background-color: transparent;
} 

#player-hand-band > .hand {
  background-color: transparent;
}

#player-piles-band {
  background-color: transparent;
}

#center-band {
  justify-content: space-evenly;
}

#information {
  overflow: auto;
  position: absolute;
  font-size: 10px;
  scrollbar-gutter: stable both-edges;
  width: 15%;
  max-height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  box-sizing: border-box;
  margin: 16px;
  user-select: none;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 99;
}

#information > div {
  word-wrap: break-word;
  word-break: break-all;
  /* white-space: normal; */
  text-align: center;
}

#deck {
  min-width: var(--pcw);
  width: auto;
  height: var(--pch);
  display: flex;
  flex-direction: column;
  align-items: center;
}
#deck playing-card {
  margin-top: calc(-1.06 * var(--pch));
}
#deck playing-card:first-of-type{
  margin-top: 0px;
}

#played {
  /* min-width: var(--pcw);
  max-width: 35%; */
  width: 35%;
  height: var(--pch);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#played playing-card{
  margin-left: -48px;
}
#played > playing-card:first-of-type{
  margin-left: 0px;
}

#burned {
  min-width: var(--pcw);
  width: auto;
  height: var(--pch);
  display: flex;
  flex-direction: column;
  align-items: center;
}
#burned playing-card {
  /* margin-top: calc(-1.15 * var(--pch)); */
    margin-top: calc(-1.06 * var(--pch));
}
#burned playing-card:first-of-type{
  margin-top: 0px;
}



.hand playing-card{
  margin-left: -48px;
}

.hand > playing-card:first-of-type{
  margin-left: 0px;
}

.pile playing-card {
  margin-top: -78px;
}

.pile playing-card:first-of-type{
  margin-top: 0px;
}

#toolbar-container {
  width: 32px;
  height: 32px;
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  margin: 24px;
  flex-direction: column-reverse;
  background-color: transparent;
  overflow: hidden;
  box-shadow: inset 0 0 0 var(--debug-outline) green;
  z-index: 99;
}

#toolbar-container:hover {
  overflow: visible;
}

.toolbar-row {
  height: 32px;
  width: 32px;
  flex-shrink: 0;
  flex-grow: 0;
  display: flex;
  overflow: hidden;
  flex-direction: row-reverse;
  box-shadow: inset 0 0 0 var(--debug-outline) teal;
}

.toolbar-row:hover {
  overflow: visible;
}

.toolbar-button {
  width: 32px;
  height: 32px;
  display: flex;
  font-size: 14px;
  justify-content: center;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
  background-color: rgba(17, 60, 70, 1.0);
  user-select: none;
  cursor: pointer;
  box-shadow: inset 0 0 0 var(--debug-outline) yellow;
}