:root {
    --debug-outline: 0px;
    --foreground-colour: rgb(255, 255, 255);
    --background-colour: rgb(48, 48, 48);
    --scrollbar-colour: rgb(84, 93, 103) transparent;
    --font-family: monospace, sans-serif;
    --font-size: 16px;
    --font-weight: 400;
    --pcm: 0.6;
    --pch: calc(150px * (var(--pcm)));
    --pcw: calc(108px * (var(--pcm)));
  }
  
  html,
  body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow: auto;
    box-sizing: border-box;
    background-color: var(--background-colour);
    color: var(--foreground-colour);
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    scrollbar-color: var(--scrollbar-colour);
    box-shadow: inset 0 0 0 var(--debug-outline) var(--foreground-colour);
  }
  
  #page {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
  }
  
  #information {
    overflow: auto;
    position: absolute;
    font-size: 10px;
    scrollbar-gutter: stable both-edges;
    width: 15%;
    max-height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    box-sizing: border-box;
    margin: 16px;
    user-select: none;
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 99;
  }
  
  #button-container {
    overflow: auto;
    position: absolute;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    right: 0;
    top: 0;
    box-sizing: border-box;
    margin: 16px;
    user-select: none;
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 99;
  }
  
  .button-div {
    display: inline-block;
    width: 72px;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    overflow: hidden;
    margin: 4px;
    box-sizing: border-box;
    background-color: grey;
    opacity: 50%;
    color: white;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button-div.ok {
    opacity: 1;
    background-color: green;
  }
  
  .button-div:hover {
    background-color: #45a089;
  }
  
  .button-div:active {
    background-color: #388e84;
  }
  
  .hidden {
    display: none !important;
  }
  
  #information>div {
    word-wrap: break-word;
    word-break: break-all;
    text-align: center;
  }
  
  #toolbar-container {
    width: 32px;
    height: 32px;
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    margin: 24px;
    flex-direction: column-reverse;
    background-color: transparent;
    overflow: hidden;
    box-shadow: inset 0 0 0 var(--debug-outline) green;
    z-index: 99;
  }
  
  #toolbar-container:hover {
    overflow: visible;
  }
  
  .toolbar-row {
    height: 32px;
    width: 32px;
    flex-shrink: 0;
    flex-grow: 0;
    display: flex;
    overflow: hidden;
    flex-direction: row-reverse;
    box-shadow: inset 0 0 0 var(--debug-outline) teal;
  }
  
  .toolbar-row:hover {
    overflow: visible;
  }
  
  .toolbar-button {
    width: 32px;
    height: 32px;
    display: flex;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;
    background-color: rgba(17, 60, 70, 1.0);
    user-select: none;
    cursor: pointer;
    box-shadow: inset 0 0 0 var(--debug-outline) yellow;
  }
  
  #toaster {
    width: auto;
    height: 24px;
    line-height: 24px;
    padding-left: 16px;
    padding-right: 16px;
    text-align: center;
    box-sizing: border-box;
    font-size: 14px;
    color: rgb(255, 255, 255);
    border-radius: 8px;
    background-color: rgb(0, 0, 0);
    z-index: 999;
    position: fixed;
    left: 15%;
    bottom: 15%;
    opacity: 85%;
    transform: translate(-50%, -50%);
  }
  
  /* ========================================================================= */
  
  .band {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  #computer-hand-band {
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(-50%);
    background-color: transparent;
    z-index: 9;
  }
  
  #human-hand-band {
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateY(50%);
    background-color: transparent;
    z-index: 9;
  }
  
  #center-band {
    justify-content: space-evenly;
  }
  
  /* ========================================================================= */
  
  .ground {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4px;
  }
  .ground card-pile playing-card {
    margin-top: -78px;
  }
  .ground card-pile playing-card:first-of-type{
    margin-top: 0px;
  }
  
  /* ========================================================================= */
  
  card-pile {
    width: auto;
    height: var(--pch);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  /* ========================================================================= */
  
  playing-card {
    user-select: none;
    display: inline-block;
    position: relative;
    width: var(--pcw);
    height: var(--pch);
    box-sizing: border-box;
  }
  
  /* ========================================================================= */
  
  #deck {
    min-width: var(--pcw);
    width: auto;
    height: var(--pch);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #deck playing-card {
    margin-top: calc(-1.06 * var(--pch));
  }
  #deck playing-card:first-of-type {
    margin-top: 0px;
  }
  
  /* ========================================================================= */
  
  #center {
    width: 35%;
    position: relative;
    height: var(--pch);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #center playing-card {
    margin-left: -48px;
  }
  #center>playing-card:first-of-type {
    margin-left: 0px;
  }
  
  /* ========================================================================= */
  
  #burned {
    min-width: var(--pcw);
    width: auto;
    height: var(--pch);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #burned playing-card {
    margin-top: calc(-1.06 * var(--pch));
  }
  #burned playing-card:first-of-type {
    margin-top: 0px;
  }
  
  /* ========================================================================= */
  
  #human-hand {
    width: auto;
    flex-direction: row;
  }
  #human-hand playing-card {
    margin-left: -48px;
  }
  #human-hand>playing-card:first-of-type {
    margin-left: 0px;
  }
  
  /* ========================================================================= */
  
  #computer-hand {
    width: auto;
    flex-direction: row;
  }
  #computer-hand playing-card {
    margin-left: -48px;
  }
  #computer-hand>playing-card:first-of-type {
    margin-left: 0px;
  }